[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod
[submodule "themes/pico-base"]
	path = themes/pico-base
	url = https://github.com/mnordhaus/pico-base.git
[submodule "themes/hugo-vitae"]
	path = themes/hugo-vitae
	url = https://github.com/dataCobra/hugo-vitae.git
